{% extends "books.html" %}

{% block update %} action="{{this_book.id}}/update" {% endblock %}

{% block update__title %}
<h2>{{this_book.title}}</h2>
<p>Added by: {{ this_book.uploaded_by.first_name }} {{ this_book.uploaded_by.last_name }}</p>
<p>Added on: {{ this_book.created_at|date:"N j, Y @ P"}}</p>
<p>Last updated on: {{ this_book.created_at|date:"N j, Y @ P"}}</p>
{% endblock %}

{% block update__desc %}{{ this_book.desc }}{% endblock %}

{% block update__btn %}

{% endblock %}


{% block users %}

<h2>Users Who Like This Book:</h2>
<ul>

    {% for user in this_book.favorites.all %}
    <li>
        {{ user.first_name }} {{user.last_name }}
        {% if user == this_user %}
        <a href="{{this_book.id}}/favorites">Un-Favorite</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% if this_user not in this_book.favorites.all %}
<a href="{{this_book.id}}/favorites">Add to Favorites</a>
{% endif %}
{% endblock %}