* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html {
    font-size: 62.5%;
}

body {
    padding: 25px;
    max-width: 800px;
    margin: 0 auto;
}

textarea,
input,
body {
    color: #e4efff;
    line-height: 1.45;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #030505;
}

ul,
main {
    width: 62.5%;
}

main {
    margin: 0 auto;
}

#log_and_reg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    color: #f9c89a;
    list-style: none;
    margin-top: 2em;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #433c47;
    width: 100%;
}

h1 {
    flex-grow: 1;
}

header p,
header a {
    min-width: 100px;
}

header a {
    text-align: end;
}

textarea {
    resize: none;
    width: 100%;
}

td,
th,
textarea,
input {
    padding: 3px;
}

::focus {
    outline: 5px auto #fe8c8f;
}

ul {
    margin-left: auto;
    font-size: 90%;
}

textarea,
table,
button,
input {
    border: 2px solid #d1080e;
}

button {
    background-color: #4de2f4;
    padding: 2px 4px;
    margin: 0.75em;
    box-shadow: 2px 2px #2896c6;
    cursor: pointer;
    height: 30px;
    justify-self: center;
    display: block;
}

button,
h2 {
    grid-column: 1 / 3;
    text-align: center;
}

h2 {
    text-align: start;
}

#login,
#reg {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

#login {
    grid-template-rows: repeat(3, auto) 1fr;
}

#reg div {
    grid-column: 1 / 3;
}

.warning {
    font-style: oblique;
    color: #af3703;
}

.success {
    font-style: oblique;
    color: #cce761;
}
